.header {
  margin: 10px auto;
  max-width: 1240px;
  
}
.header__title {
  margin-left: 20px;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
}