@import url('../src/vendor/normalize.css');
@import url('../src/vendor/fonts/Inter-Web/inter.css');

body {
  margin: 0, auto;
  background-color: rgb(178, 203, 204);
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
